
<div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
  <p class="text-center text-base text-gray-500">
    &copy; <%= new Date().getFullYear() %> PastPapersPro. All rights reserved.
  </p>
</div>